.sh-shooraai-recommendations .spr-badge {
    margin: 0 0 10px 0;
    display: flex;
    font-size: 13px;
    gap: 5px;
    justify-content: center;
}
.sh-shooraai-recommendations .spr-badge .spr-starrating {
    font-size: 12px;
}
.sh-shooraai-PopupMainContainer{
    visibility: hidden;
}